!!!
%html{:lang => "en"}
  %head
    %title Wine Tasting Group | Wine Folly

    / Le Meta
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=980, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}

    / Le Styles
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Bitter|Shadows+Into+Light", :rel => "stylesheet"}
    %link{:href => "css/style.css", :rel => "stylesheet"}

    / Le HTML5 Shim
    /
      [if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]

    / Le Fav Icons
    %link{:rel => "shortcut icon", :href => "./favicon.ico" }
    / %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/ico/apple-touch-icon-144-precomposed.png"}
    / %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x114", :href => "/ico/apple-touch-icon-114-precomposed.png"}
    / %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/ico/apple-touch-icon-72-precomposed.png"}
    / %link{:rel => "apple-touch-icon-precomposed", :href => "/ico/apple-touch-icon-57-precomposed.png"}

  %body
    .container
      / .row
      /   .span12{:style => "text-align: center; margin: 40px 0 26px;"}
      /     %h4.brand Wine Folly Presents...

      /** Hero Container
      .row{:style => "margin-top: 60px;"}
        .span5
          %h1 Your Monthly Wine Tasting
          %br
          %h3.sassypants Try new wines every month!
          %p.heroparagraph{:style => "padding-top: 10px;"}
            Join other enthusiasts who are discovering new wines they love. It's never been easier or more fun to learn about wine.
        .span7
          .wistia_embed-border
            #wistia_4a7b1a3b6e.wistia_embed{:style => "width: 480px; height: 270px;", "data-video-width" => "480", "data-video-height" => "270"}
              %object{:id => "wistia_4a7b1a3b6e_seo", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :style => "display:block; height: 270px; position: relative; width: 480px;"}
                %param{:name => "movie", :value => "http://embed.wistia.com/flash/embed_player_v2.0.swf?2012-06-01"}
                %param{:name => "allowfullscreen", :value => "true"}
                %param{:name => "allowscriptaccess", :value => "always"}
                %param{:name => "bgcolor", :value => "#000000"}
                %param{:wmode => "opaque"}
                %param{:name => "flashvars", :value => "customColor=242424&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F3199b7cc0f70da8c6fd8840590244d239d0235a9.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=95.0&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F5860b62a1947a0cd34796ed6f3aa0d28cc1ddcbc.jpg%3Fimage_crop_resized%3D480x270&unbufferedSeek=true&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F81d210984152ec40efcecb0b8241d5b1d3d498e7.bin"}
                %embed{:scr => "http://embed.wistia.com/flash/embed_player_v2.0.swf?2012-06-01", :allowfullscreen => "true", :allowscriptaccess => "always", :bgcolor => "#000000", :flashvars => "customColor=242424&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F3199b7cc0f70da8c6fd8840590244d239d0235a9.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=95.0&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F5860b62a1947a0cd34796ed6f3aa0d28cc1ddcbc.jpg%3Fimage_crop_resized%3D480x270&unbufferedSeek=true&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F81d210984152ec40efcecb0b8241d5b1d3d498e7.bin", :name => "wistia_4a7b1a3b6e_html", :style => "display:block; height:100%; position:relative; width:100%;", :type => "application/x-shockwave-flash", :wmode => "opaque"}
          %script{:charset => "ISO-8859-1", :src => "http://fast.wistia.com/static/concat/E-v1.js"}
          :javascript
            wistiaEmbed = Wistia.embed("4a7b1a3b6e", {
              version: "v1",
              videoWidth: 480,
              videoHeight: 270,
              volumeControl: true,
              playerColor: "242424"
            });
          %script{:charset => "ISO-8859-1", :src => "http://fast.wistia.com/embed/medias/4a7b1a3b6e/metadata.js"}

      /** Primary CTA Form
      .row{:style => "padding-top: 40px;"}
        .offset1.span10
          %h3.sassypants-plain{:style => "line-height: normal; padding-bottom: 12px; text-align: center;"} Get Started For Only $2.99/mo
          .well.clearfix
            %form.form-inline{:style => "margin: 0;"}><
              %input{:type => "text", :placeholder => "Full Name"}
              %input{:type => "text", :placeholder => "Email"}
              %button.btn.btn-danger.btn-large{:type => "submit", :style => "width: 165px;"} Join Now &raquo;

      /** Limited Seating Available
      .row.divider-bottom
        .span12
          %h3.pagination-centered.limited-seating
            Limited Seating:
            %a{:rel => "popover", 
              "data-content" => "For quality puposes and to guarantee the availability of the wines we have a membership cap.", 
              :title => "Exclusive Access", 
              :href => "#", 
              :style => "color: #bd362f;"} Open Enrollment
            / %i.icon-info-sign{:rel => "popover", "data-content" => "content", :title => "title"}

      /** Testimonials    
      .row
        .span5.testimonial
          "It's a little like Wes Anderson meets Gary Vaynerchuck."
          %br
          %small
            %i.pull-right - Benjamin Simons, Alexandria Nicole Cellars
        .offset2.span5.testimonial
          "Your guide to drinking wine, pop culture and the business of the vine. "
          %br
          %small
            %i.pull-right - @WineDiggs

      /** How it Works
      .row.divider-top
        .span12.headline
          %h2 How it Works
          %h3.sassypants Only drink wine you love!
      .row{:style => "margin-top: 40px; margin-bottom: 40px;"}
        .span7
          %img{:src => "img/monthly-wine-tasting-how-it-works540x403.png", :width => "540", :height => "403"}
        .span5{:style => "padding-top: 40px;"}
          %h3.sassypants-plain Step by step.
          .how-to-list
            %p
              %i.icon-envelope
              Receive the monthly tasting group wine list.
            %p
              %i.icon-gift
              Pick out wines you'd like to try and buy online.
            %p
              %i.icon-film
              Participate in a monthly live online wine tasting.
            %p
              %i.icon-check
              Vote on what you'd like to try next.
            %a.btn.btn-danger.pull-right Next Step &raquo;
      
      .row.divider-bottom
        .span12
      
      /** Trusted Retailers
      .row
        .span12.pagination-centered.trusted-retailers
          %h3 Wine Retailers

      /** More Details
      .row.divider-top{:style => "margin-top: 150px;"}
        .span12.headline
          %h2 More Details
          %h3.sassypants Personalized wine tastings for less than a latte.
      .row{:style => "margin-top: 60px;"}
        .span6.more-details
          %h3 4 Unique Wines
          %p
            Based on your feedback our staff hand picks four wines for you through our network of trusted online retailers.
        .span6.pagination-centered
          %img{:src => "img/monthly-wine-tasting-bottles.png", :width => "290", :height => "200"} 
      .row{:style => "margin-top: 60px;"}
        .span6.pagination-centered
          %img{:src => "img/monthly-wine-tasting-tasting-group.png", :width => "290", :height => "200"}
        .span6.more-details
          %h3 Expert Wine Tasting
          %p
            Participate in real time with an expert during our streaming online wine tastings. Watch past tastings anytime.
      .row{:style => "margin-top: 60px;"}
        .span6.more-details
          %h3 Cast Your Vote
          %p
            Submit your vote to direct the course of future tastings. Your personalized guide to navigtating the wine world.
        .span6.pagination-centered
          %img{:src => "img/monthly-wine-tasting-ballot-box.png", :width => "290", :height => "200"}

      /** Pricing Details
      .row{:style => "margin-top: 65px;"}
        .offset2.span8.pagination-centered
          %h3 Simple Pricing 
          %h3.sassypants $2.99/mo, no contracts, cancel anytime!
        .offset2.span8.more-details{:style => "padding-top: 20px; padding-bottom: 15px;"}
          %p{:style => "text-align: center;"}
            Join other enthusiasts who want to learn about wine just like you!
            %br
            Subscribers have access to special offers, discounts, and voting powers.

      /** Form CTA Final Bottom
      .row.divider-bottom{:style => "padding-top: 20px;"}
        .offset1.span10
          .well.clearfix
            %form.form-inline{:style => "margin: 0;"}><
              %input{:type => "text", :placeholder => "Full Name"}
              %input{:type => "text", :placeholder => "Email"}
              %button.btn.btn-danger.btn-large{:type => "submit", :style => "width: 165px;"} Join Now &raquo;
            
      %footer
        %p
          .pull-right &copy; Wine Folly
          Hosted by Madeline Puckette, expert wine-o and certified sommelier. Video production by the professionals at Wine Folly.
    
    / Le Javascript
    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/bootstrap.js"}
    :javascript
      $(document).ready(function() {
        $("a[rel=popover]").popover().click(function(e) {
          e.preventDefault();
        });
      });
